@import url(https://fonts.googleapis.com/css?family=Fraunces:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

p {
    font-size: 14px;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}